<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <% @advices.each do |advice| %>
        <h2 class="title"><%= link_to advice.title, advice %></h2>
        <h6 class="date"><%= advice.created_at.strftime('%b %d, %Y') %></h6>

      </div>
   
   
    <% end %>
  
  



